%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "Antiagent", root_path, :class => 'brand'
.nav-collapse.collapse{:style => "height: 0px;"}
  %ul.pull-right.nav
    %li
      = link_to('Help', help_path)
    %li
      = link_to('About', about_path)